<h1>Forgot your password</h1>
<p> Don't worry about it, this happens to us all from time to time.<br>
Your username on record is: <%= @user.username %><br>
Your email on record is: <%= @user.email%></p>
<p>Follow this link to create a new password <%= link_to "Reset Your Password", ('http://localhost:3001/password/reset?token='+@user.reset_password_token) %></p>
<p>This link will only work once and is only valid for the next 4 hours; so get to it. <br>
Cheers!</p>