<h1>Welcome to [app name here], we are glad you are here!</h1>
<p> You now have an account with us.<br>
Your username on record is: <%= @user.username %><br>
Your email on record is: <%= @user.email%></p>
<p>You can sign into your account here. [place login url here]</p>
<p>Again, thank you for registering with us, enjoy!</p>